@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #171717;
  --green1: #07f985;
  --darkorange: #ff5f1f;
  --yellow: #fcb005;
  --green2: #d4ef17;
  --purple: #84018f;
  --pink: #ff00fa;
  --turquoise: #0cf7fc;
  --blue: #0017b8;
  --white: #ffffff;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.75;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.dark-orange {
  color: var(--darkorange);
}
.turquoise {
  color: var(--turquoise);
}
.purple {
  color: var(--purple);
}
.green2 {
  color: var(--green2);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 1.38rem;
  font-family: "Alegreya", serif;
  font-weight: 400;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-size: 2.488rem;
}
h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 1rem;
}
.bgscrn-img {
  height: 350px;
}
.index img {
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--yellow);
}

/*--------------------------------------------------------NAME----------------------------------------*/
.name-wrapper h1 {
  padding-top: 1rem;
  padding-left: 1rem;
  line-height: 0.5;
}
.first-name {
  left: -300px;
  position: relative;
  font-size: 5rem;
}
.last-name {
  left: -300px;
  position: relative;
  font-size: 3.2rem;
}

.line {
  width: 200px;
  height: 47px;
  border-bottom: 1px solid var(--turquoise);
  position: absolute;
  margin-left: 0.5rem;
}
/*--------------------------------------------------------MENU----------------------------------------*/
* {
  margin: 0;
  padding: 0;
}
.logo,
.content {
  color: var(--white);
}
.logo {
  margin: 0 2rem;
}
.nav {
  width: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

#hamburger {
  margin: 2%;
}

#hamburger {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.25s linear;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
  display: flex;
  align-items: center;
}

#hamburger:hover {
  opacity: 1;
}

#hamburger div,
#hamburger div:after,
#hamburger div:before {
  background-color: var(--pink);
  border-radius: 1rem;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
  transition: all 0.15s linear;
}

#hamburger div:before,
#hamburger div:after {
  content: "";
  position: absolute;
}

#hamburger div:before {
  transform: translateY(-200%);
}

#hamburger div:after {
  transform: translateY(200%);
}

#hamburger.open div {
  background: transparent;
}

#hamburger.open div:before {
  transform: rotate(45deg);
}

#hamburger.open div:after {
  transform: rotate(-45deg);
}

#overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: var(--black);
  z-index: 10;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay.menu {
  transform: translateY(0%);
}

#overlay a {
  text-decoration: none;
  font-size: 2.488rem;
  margin: 2%;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}

#overlay a:hover {
  opacity: 1;
}
.hidden {
  overflow: hidden;
}
.scroll {
  overflow: visible;
}
/*------------------------------------------CARDS------------------------------------------*/
.cards-wrapper {
  display: flex;
  padding: 1rem;
}

.content-wrapper {
  display: grid;
  column-gap: 10px;
  row-gap: 2rem;
}

article {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  height: 25rem;
}
article > h3 {
  padding-left: 1rem;
}
article > section,
article > p {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

.index-1 {
  position: absolute;
  z-index: 2;
  margin: 1.1rem 0 1.38rem;
}
.index-2 p {
  font-size: 0.75rem;
}
.index-2 {
  display: flex;
  position: absolute;
  gap: 10px;
  /* z-index: 2; */
  padding-top: 3rem;
}
.index-3 {
  position: absolute;
  z-index: 2;
  padding-top: 8rem;
}
.index-4 {
  position: absolute;
  z-index: 2;
  margin-bottom: 0.5rem;
}
.index-2 p::after {
  content: " | ";
  width: auto;
}
.index-2 p:first-child::before {
  content: "";
  width: auto;
}
.index-2 p:last-child:after {
  content: "";
  width: auto;
}
.card img {
  z-index: 0;
  opacity: 50%;
}
.languages::after li {
  content: "|";
}
.card .linkImg {
  border-radius: 1rem;
  height: 25rem;
  z-index: 1;
}
.card .coverImg {
  opacity: 0;
}
.card a {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
  text-decoration: none;
  cursor: pointer;
}
article:hover {
  border: var(--turquoise) solid 1px;
  border-radius: 1rem;
}
/*------------------------------------------ABOUT------------------------------------------*/
#about {
  margin: 1rem;
  display: grid;
  border: var(--purple) 1px solid;
  border-radius: 10px;
}
.bscren {
  display: grid;
}
.about-section {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  gap: 1rem;
}
.about-section p:nth-child(2) {
  text-align: center;
}
.about-me {
  text-align: center;
}
.about-me {
  color: var(--turquoise);
}
.about-img {
  display: grid;
  justify-items: center;
}
.about-img img {
  opacity: 100%;
  border-radius: 10px;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.skill {
  max-width: 100%;
  object-fit: cover;
  height: 80px;
}
.next {
  height: 50px;
}
.sass {
  height: 95px;
}
/*------------------------------------------FOOTER------------------------------------------*/
footer {
  display: flex;
  justify-content: space-between;
}
#contact {
  margin-left: 1rem;
}
.contact-links {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
#contact ul {
  display: flex;
  gap: 10px;
}
li,
ul {
  list-style: none;
}
footer {
  margin: 1rem 1rem 2rem 2rem;
}
footer h5 {
  margin: 0;
}
/*------------------------------------------PROJECT PAGE------------------------------------------*/
.single-project-main {
  margin: 3rem;
  display: grid;
  gap: 1rem;
}

.cover-img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}
.single-project {
  display: grid;
  row-gap: 1rem;
  margin: 0;
}
.main-project {
  border: var(--blue) 2px solid;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.main-project h2 {
  color: var(--turquoise);
}
.intro {
  border: var(--purple) 2px solid;
  border-radius: 1rem;
  padding: 1rem;
}
.this {
  color: var(--turquoise);
}
.project-img {
  max-width: 100%;
  border-radius: 0.3rem;
  object-fit: cover;

  align-items: center;
}

@media only screen and (min-width: 572px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 0.8fr));
    column-gap: 1rem;
    row-gap: 2rem;
    margin: 0 0.5rem;
  }
  article {
    height: 400px;
  }
  article img {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 0 2rem;
  }
  .single-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
  .about-img {
    grid-template-columns: repeat(2, minmax(0, 0.8fr));
    align-items: center;
    gap: 10px;
  }
  .skill-container {
    grid-column: 1/-1;
    padding: 0 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .single-project {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
    justify-items: stretch;
  }
  .logo {
    margin: 0 5rem;
  }
  .bscren {
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    margin: 0 4rem;
  }
  .project-img-container {
    display: grid;
    align-items: center;
    justify-items: center;
    column-gap: 2rem;
  }
  .project-img-container h2 {
    grid-row: 1;
  }
  .project-img-container img {
    grid-column: 1;
    grid-row: 1;
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 0 2rem;
  }
  .bgscrps {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .skill-container {
    grid-column: 2/2;
    padding: 0;
    gap: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 2rem;
    margin: 0 2rem 3rem 2rem;
  }
}
